#menu {
    margin: auto;
    max-width: 100%;
    background-image: url('assets/filtered pizza.jpg');
    background-size: 100%;
    background-size: cover;
    background-position: center;
}

.menu-header {
    margin-top: 30px;
    color: goldenrod;
    text-align: center;
    font-size: 4rem;
}

td {
    padding: 10px;
}

tr {
    padding: 10px;
}

.menu-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.menu-grid-item {
    color: white;
    font-size: 1.25rem;
    padding: 20px;
    /* min-width: 300px; */
    max-width: 500px;
}

#menu>div>div>table {
    width: 100%;
}

#menu>div>div>table>tbody>tr {
    text-align: left;
}

#menu>div>div>table>tbody>tr>td+td {
    text-align: left;
}

#menu>div>div>table>tbody>tr>td:nth-child(2) {
    min-width: 150px;
}

.menu-item-name {
    /* background-color: red; */
    font-size: 1.8rem;
    
    color: goldenrod;
    
    text-align: left;
}

.menu-item-price-list {
    text-align: right;
}


@media only screen and (min-width: 1480px) {

}
